<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}"
 xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact Page</title>
</head>
<body>
    
    <div id="content">
        <h1>This is Contact page
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Laboriosam reiciendis officia porro consectetur vero quis
                 quaerat maxime eos aperiam, dolorem odit natus consequatur
                  explicabo fuga voluptatem perspiciatis, nostrum incidunt.
                   Quis!</p>
        </h1>
    </div>
    <script>
        console.log("About page")
    </script>
</body>
</html>