<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Page</title>
</head>
<body>
    <div id="content">
        <h1>This is service page</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Temporibus vero non vitae, qui officiis asperiores vel eos
              possimus ab molestias?</p>
    </div>
    <script>
        console.log("Service page")
    </script>
</body>
</html>